<section>

    @Html.Partial("_MapPremios.cshtml")

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th colspan="3" class="bg text-center text-uppercase" style="color: white;">Quantidade</th>
                <th colspan="2" class="bg text-center text-uppercase" style="color: white;">Valor</th>
            </tr>
            <tr v-for="item in data" class="color">
                <td class="text-center"><strong>{{item.Estado}}</strong></td>
                <td class="text-center">{{item.QuantidadeDeGanhadores}}</td>
                <td class="text-center">{{item.PercentualGanhadores + '%'}}</td>
                <td class="text-center"><strong>{{item.Valor.format('c')}}</strong></td>
                <td class="text-center">{{item.PercentualValor + '%'}}</td>
            </tr>
        </table>
    </div>
</section>