<section>
    <br>
    <div v-for="item in data">
        <h3 class="color">{{item.QuantidadeDeGols}}</h3>
        <div class="table-responsive table-stats" style="max-width: 500px">
            <table class="table" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <th class="text-center text-uppercase color">QTD. DE VEZES</th>
                    <th class="text-center text-uppercase color">QTD. DE CONCURSOS</th>
                    <th width="150"></th>
                </tr>
                <tr v-for="g in item.GolsPorConcurso">
                    <td class="text-center">{{g.QuantidadeDeVezes}}</td>
                    <td class="text-center">{{g.QuantidadeDeConcursos}}</td>
                    <td>
                        <div class="bar">
                            <div class="bar-inner bg" v-bind:style="{ width: item.Percentual+'%', opacity: (item.Percentual/100) }"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
</section>