@{
    ViewData["Title"] = "Atendimento | Loteria Brasil";
}
@section metas{
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Atendimento | Loteria Brasil" />
    <meta property="og:image" content="@($"{ViewBag.Url}images/main/logo.png")" />
    <meta name="description" content="Aposte nas principais loterias atraves do Portal Loteria Brasil: apostas na mega sena, duplasena e nas principais loterias de forma r&#225;pida e segura." />
}
<section class="content-institucional">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1 class="title-h1">atendimento</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">HORÁRIO DE FUNCIONAMENTO:</div>
                        <div class="panel-body text-center">
                            <p>
                                Segunda à Sexta<br />
                                8h30 até 20h<br /><br />

                                Sábado<br />
                                9h até 19h30<br /><br />

                                Exceto Domingos e Feriados.
                            </p>
                            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-4 col-md-7 col-md-offset-3">
                                <ul class="menu_atendimento pull-left text-left">
                                    <li><a class="" href="javascript:void(0);" onclick="window.open('http://app1.xgen.com.br/ipro/f_loteriabrasil_pt.html', '_blank', 'top=10,left=10,width=439,height=450,resizable=no,toolbar=0,location=0,directories=0,status=yes,menubar=0');"><i class="fas fa-comments"></i>Chat</a></li>
                                    <li><a class="" href="tel:11 3541-3001"><i class="fas fa-phone"></i>Fone/Fax (11) 3541-3001</a></li>
                                    <li><a class="" href="mailto:contato@loteriabrasil.com.br"><i class="fas fa-envelope"></i>contato@loteriabrasil.com.br</a></li>
                                    <li><a class="" href="/institucional/duvidas"><i class="fas fa-question-circle"></i>Dúvidas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>