@{
    ViewData["Title"] = "Como Pagar | Loteria Brasil";
}
@section metas{
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Como Pagar | Loteria Brasil" />
    <meta property="og:image" content="@($"{ViewBag.Url}images/main/logo.png")" />
    <meta name="description" content="Aposte nas principais loterias atraves do Portal Loteria Brasil: apostas na mega sena, duplasena e nas principais loterias de forma r&#225;pida e segura." />
}
@Html.Partial("_StaticBanner", "top-banner")

<section class="content-institucional">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <h1 class="title-h1">como pagar</h1>
                        <p class="text-center">O Sorte Online oferece aos seus usuários várias formas de pagamento, como boleto bancário, transferência entre contas, cartão de crédito e créditos Sorte Online. Veja abaixo as especificações de cada uma delas.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="nav nav-pills nav-justified nav-institucional">
                        <li>
                            <a href="/quem-somos">quem somos</a>
                        </li>
                        <li>
                            <a href="/como-funciona">como funciona</a>
                        </li>
                        <li>
                            <a href="/sobre-sorteios">dias de sorteio</a>
                        </li>
                        <li class="active">
                            <a href="/como-pagar">como pagar</a>
                        </li>
                    </ul>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="subtitulo">O Loteria Brasil oferece aos seus usuários várias formas de pagamento</p>
                            </div>
                            <div class="panel-heading">créditos Loteria Brasil</div>
                            <div class="panel-body">
                                <p>
                                    (para apostas, apenas para quem comprou seus créditos através de uma das opções abaixo ou
                                    já foi premiado através do Loteria Brasil)
                                    <br>
                                    <br> Dentre as formas de pagamento disponíveis, a mais interessante é a do pagamento com
                                    Créditos Loteria Brasil, que são adquiridos antecipadamente.
                                    <br>
                                    <br> Através desta opção, o usuário tem suas apostas confirmadas de imediato, inclusive fora
                                    do horário comercial. Para a aquisição de Créditos Loteria Brasil podem ser utilizadas
                                    todas as formas de pagamento abaixo descritas.
                                </p>
                            </div>
                            <div class="panel-heading">boleto bancário</div>
                            <div class="panel-body">
                                <p>
                                    Esta forma de pagamento é destinada apenas para compra de créditos (valor mínimo de R$ 20,00)
                                    e cotas.
                                    <br>
                                    <br> O boleto será exibido na tela, com opção de impressão para que seja pago em qualquer
                                    banco. Você também pode utilizá-lo para fazer seu pagamento através da Internet, bastando
                                    digitar na tela de seu Internet Banking a sequência de 47 números que se encontra na
                                    parte superior do boleto, ao lado do logotipo e do código do banco. Se você quer comprar
                                    apostas que não tem o boleto bancário como opção de pagamento, proceda da seguinte maneira:
                                    Utilize a opção "Comprar Créditos", indicando como forma de pagamento o boleto bancário.
                                    Faça o pagamento de seu boleto bancário através da Internet ou da rede bancária até as
                                    19:00 da data de vencimento, impreterivelmente. Para agilizar a liberação dos seus créditos
                                    para apostar, envie para o Loteria Brasil o comprovante de seu pagamento por e-mail para
                                    que possamos fazê-la antes do prazo de 1 dia útil. Seu comprovante será encaminhado para
                                    análise. Em caso de aprovação, sua compra será confirmada. Assim que os créditos forem
                                    liberados, faça suas apostas indicando como opção de pagamento "Créditos Loteria Brasil",
                                    adquiridos anteriormente através do boleto.
                                </p>
                            </div>
                            <div class="panel-heading">transferência entre contas Banco do Brasil</div>
                            <div class="panel-body">
                                <p>
                                    Uma forma de pagamento bastante ágil, bastando que o usuário acesse seu Internet Banking
                                    e faça a transferência entre contas imediatamente após sua compra no Loteria Brasil, antes
                                    de seu prazo de expiração.
                                </p>
                            </div>
                            <div class="panel-heading">transferência entre contas via Pag Vap</div>
                            <div class="panel-body">
                                <p>
                                    uma forma de pagamento fácil e rápida, administrada pela Pag Vap, basta o usuário escolher
                                    o banco desejado para pagamento e realizar a transferência eletrônica ou débito online
                                    seguindo as orientações de acordo com o banco selecionado, imediatamente após sua compra
                                    no Loteria Brasil, antes do prazo de expiração.
                                </p>
                            </div>
                            <div class="panel-heading">cartão de crédito</div>
                            <div class="panel-body">
                                <p>
                                    Após informar os dados do cartão para pagamento, a aprovação pode ocorrer em até 20 minutos,
                                    após análise interna da Elavon.
                                </p>
                            </div>
                            <div class="panel-heading">cartão de crédito (internacional) através da Neteller</div>
                            <div class="panel-body">
                                <p>
                                    A Neteller é uma conta virtual, onde os usuários podem adicionar saldo de créditos através
                                    de cartão de crédito (Internacional),após cadastrar-se em www.neteller.com/pt. Com o
                                    saldo já disponível em sua conta Neteller, basta realizar a compra de créditos ou apostas
                                    no Loteria Brasil, e no momento do pagamento, informar o e-mail cadastrado na Neteller
                                    e o Código de segurança.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>