@{
    ViewData["Title"] = "Pol&#237;tica de Privacidade | Loteria Brasil";
}
@section metas{
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Pol&#237;tica de Privacidade | Loteria Brasil" />
    <meta property="og:image" content="@($"{ViewBag.Url}images/main/logo.png")" />
    <meta name="description" content="Aposte nas principais loterias atraves do Portal Loteria Brasil: apostas na mega sena, duplasena e nas principais loterias de forma r&#225;pida e segura." />

}
@Html.Partial("_StaticBanner", "top-banner")

<section class="content-institucional">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1 class="pull-left title-h1">política de privacidade</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>O <strong>Loteria Brasil</strong>, com sede na cidade de São Paulo, Estado de São Paulo, na Rua dos Pinheiros, nº 1060, 7º andar, Pinheiros, CEP 05422-002, inscrita no CNPJ/MF sob o nº 06.206.233/0001-21, zela pela privacidade e pela proteção dos dados pessoais de seus clientes e visitantes, mantendo assim a relação de confiança, respeito e transparência construída junto a seu público.</p>
                        </div>
                        <div class="panel-heading">Proteção e Privacidade dos Dados</div>
                        <div class="panel-body">
                            <p>
                                As informações solicitadas aos clientes são as mínimas necessárias para o desenvolvimento das atividades contratadas. Quando necessário, as informações ficarão armazenadas em nossa base de dados, em ambiente seguro.<br /><br />

                                Os funcionários do <strong>Loteria Brasil</strong> envolvidos nos processos têm conhecimento dessa política e apenas pessoal qualificado e autorizado tem permissão para acessar os dados pessoais coletados, sob pena de sofrer sanção disciplinar competente em caso de violação das normas previstas pela política.<br /><br />

                                Em nenhuma circunstância, tais informações serão alienadas ou compartilhadas com pessoas estranhas ao grupo empresarial a que pertence o <strong>Loteria Brasil</strong>, exceto em virtude de decisão judicial.<br /><br />

                                O <strong>Loteria Brasil</strong> atesta que sua política de proteção e privacidade dos dados reflete os valores da organização e está em conformidade com seus negócios, produtos e serviços que oferece.<br /><br />

                                O <strong>Loteria Brasil</strong> assume o compromisso de cumprir as regras de conduta que voluntariamente concordou em aderir, garantir a boa-fé no processamento das informações e trabalhar para a melhoria contínua do sistema de gestão de proteção de dados.<br /><br />

                                O <strong>Loteria Brasil</strong>, a fim de manter seus clientes sempre atualizados com as melhores opções de apostas, envia e-mails com dicas de bolões, promoções e boletins diários sobre as loterias. Caso o cliente não queira mais receber os e-mails, o processo é bem simples. Basta clicar em “remova aqui” – link existente no final de cada e-mail enviado pelo Loteria Brasil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>