@{
    ViewData["Title"] = "Termos de Uso | Loteria Brasil";
}
@section metas{
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Termos de Uso | Loteria Brasil" />
    <meta property="og:image" content="@($"{ViewBag.Url}images/main/logo.png")" />
    <meta name="description" content="Aposte nas principais loterias atraves do Portal Loteria Brasil: apostas na mega sena, duplasena e nas principais loterias de forma r&#225;pida e segura." />

}
@Html.Partial("_StaticBanner", "top-banner")

<section class="content-institucional">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1 class="pull-left title-h1">termos e condições de uso</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">1. ACEITAÇÃO</div>
                        <div class="panel-body">
                            <p>
                                1.1 As disposições contidas nos presentes “Termos e Condições Gerais dos Serviços Loteria Brasil” ("Termos") regem os serviços disponibilizados pela SOL Serviços de Intermediação Ltda. (Loteria Brasil), com sede na cidade de São Paulo, Estado de São Paulo, na Rua dos Pinheiros, nº 1060, 7º andar, Pinheiros, CEP 05422-002, inscrita no CNPJ/MF sob o nº 06.206.233/0001-21, aos usuários da Internet (Usuários) e a utilização destes pelos Usuários, através do portal online disponibilizado através da URL http://www.sorteonline.com.br (Portal).<br /><br />
                                1.2 O Usuário somente poderá se valer dos serviços disponibilizados pelo Loteria Brasil depois de expressamente concordar com estes Termos.<br /><br />
                                1.3 As seções dispostas abaixo são complementares a estes Termos e podem conter informações relevantes sobre a utilização e funcionamento dos Serviços além das previstas nestes Termos. Sendo assim, o Usuário se compromete a tomar conhecimento do seu teor integral:<br />
                                <ul>
                                    <li>Quem Somos;</li>
                                    <li>Como Funciona;</li>
                                    <li>Dúvidas.</li>
                                </ul>
                            </p>
                        </div>
                        <div class="panel-heading">2. SERVIÇOS</div>
                        <div class="panel-body">
                            <p>
                                2.1 Os Serviços oferecidos através do Portal consistem na realização, a pedido e em nome dos Usuários, de apostas em jogos lotéricos oficiais, sendo que o Usuário, mediante contrato de mandato (art. 653 do Código Civil Brasileiro - Lei nº 10.406/2002), outorga poderes ao Loteria Brasil para que este, em seu nome, efetive junto a Casa Lotérica oficial as apostas que indicar.<br /><br />
                                2.2 O Loteria Brasil, na qualidade de mandatário do Usuário, compromete-se a efetivar as apostas regularmente indicadas exclusivamente perante Casas Lotéricas credenciadas pela Caixa Econômica Federal, idôneas e que estejam atuando nos termos da Circular nº 471 da Caixa Econômica Federal.<br /><br />
                                2.3 Além dos Serviços descritos no item 2.1 acima, o Portal possibilita ao Usuário a utilização de algumas funcionalidades como a análise, o estudo e a assessoria no desenvolvimento de combinações de prognósticos.<br /><br />
                                2.4 Eventuais dúvidas acerca dos Serviços oferecidos poderão ser dirimidas através do próprio Portal (notadamente mediante o acesso às seções Quem Somos, Como Funciona e Dúvidas) ou, ainda, da Central de Atendimento ao Cliente (mediante contato telefônico, via e-mail ou via chat).
                            </p>
                        </div>
                        <div class="panel-heading">3. CONDIÇÃO PARA PARTICIPAÇÃO</div>
                        <div class="panel-body">
                            <p>
                                3.1 Para solicitar os Serviços, o Usuário deverá ser pessoa física, maior (acima de 18 anos) e juridicamente capaz. Será necessário o cadastramento prévio no Portal, ou no Aplicativo, bastando seguir as instruções contidas na seção Como Participar, acessível através da página inicial.<br /><br />
                                3.2 O Usuário garante e se responsabiliza pela veracidade, exatidão, vigência e autenticidade dos dados constantes do cadastro por ele preenchido, comprometendo-se a mantê-lo devidamente atualizado.<br /><br />
                                3.3 O Loteria Brasil não assume qualquer obrigação de policiar ou fiscalizar as informações fornecidas pelo Usuário, mas poderá, ao seu exclusivo critério, excluir as informações que lhe pareçam inverídicas ou ofensivas.
                            </p>
                        </div>
                        <div class="panel-heading">4. SENHAS DE ACESSO AO PORTAL</div>
                        <div class="panel-body">
                            <p>
                                4.1 A senha utilizada pelo Usuário é de caráter pessoal e intransferível, sendo de responsabilidade do próprio Usuário não repassá-la a terceiros, para sua própria segurança. A escolha da senha indicada no momento da efetivação do cadastro no Portal, desde que contenha no mínimo 04 (quatro) dígitos, é livre e incondicionada, sendo de exclusiva responsabilidade do Usuário.<br /><br />
                                4.2 O Loteria Brasil não terá acesso à senha pessoal do Usuário, pois a mesma é criptografada. Nenhum funcionário ou preposto do Loteria Brasil está autorizado a solicitar, por qualquer motivo que seja, a senha do Usuário.<br /><br />
                                4.3 O Usuário compromete-se a informar imediatamente o Loteria Brasil a perda, o roubo ou o extravio da senha, para que sejam então tomadas as devidas providências. Até que o Loteria Brasil seja informado de tal ocorrência, o Usuário responderá por qualquer ato/omissão decorrente do uso de sua senha.<br /><br />
                                4.4 Compromete-se o Usuário a não autorizar, e a adotar todas as medidas que estiverem ao seu alcance para impedir que o seu cadastro seja acessado e / ou utilizado por terceiros quaisquer, prestando especial atenção ao acesso e / ou utilização via aplicativo mobile.
                            </p>
                        </div>
                        <div class="panel-heading">5. MODALIDADES</div>
                        <div class="panel-body">
                            <p>
                                5.1 Ao solicitar à Loteria Brasil a efetivação de determinada aposta lotérica em seu nome, o Usuário poderá, a seu livre arbítrio, indicar:<br /><br />
                                <strong>a) Jogos Previamente Elaborados (Grupos)</strong>: a Loteria Brasil disponibiliza através do Portal grupos de jogos criteriosamente elaborados por sua equipe, com o intuito de proporcionar ao Usuário maiores probabilidades de acertos. Na confecção destas possibilidades de aposta poderão ser utilizados diversos recursos, como uma grande base estatística, análise combinatória, técnicas próprias de fechamento de combinações, filtros e, principalmente, softwares de última geração. Ao indicar jogos previamente elaborados constantes de um grupo, o Usuário poderá concorrer em conjunto com outros Usuários (caso adquira alguma ou algumas cotas relativas aos jogos indicados) ou individualmente (caso adquira a totalidade das cotas relativas aos jogos indicados). O total de cotas relativas a um grupo de jogos representa a quantidade de pessoas que podem concorrer com aquelas possibilidades de aposta. Os apostadores que comprarem cotas de um grupo concorrem com todas as suas apostas (cartões), independentemente de quantas cotas foram compradas. No rateio dos prêmios, a participação de cada apostador será proporcional à quantidade de cotas adquiridas no grupo. Esta é uma maneira inteligente de aumentar as chances de ganhar, já que o jogo contém muito mais apostas do que se poderia adquirir se o mesmo valor fosse investido individualmente.<br /><br />

                                <strong>b) Jogos elaborados pelo próprio Usuário:</strong> a Loteria Brasil oferece também a possibilidade de o Usuário indicar jogo por ele elaborado. Nesse caso, o Usuário deverá indicar, também, se pretende que no ato de efetivação da aposta junto à Casa Lotérica oficial sejam utilizados os recursos disponibilizados pela Caixa Econômica Federal, notadamente a Surpresinha (o prognóstico é fornecido pelo sistema utilizado para registrar as apostas nos equipamentos de captação de apostas) ou a Teimosinha (aposta repetida por vários concursos consecutivamente, a critério do Usuário). Para facilitar a indicação do jogo pelo Usuário, a Loteria Brasil também oferece, gratuitamente, informações sobre os sorteios na seção Dicas e Estatísticas, disponível no Portal.<br /><br />

                                5.2 Após a efetivação das apostas junto à Casa Lotérica oficial, independentemente da modalidade de indicação escolhida pelo Usuário (Jogos Previamente Elaborados ou Jogos elaborados pelo próprio Usuário), a Loteria Brasil se responsabilizará pela guarda e custódia dos respectivos bilhetes.<br /><br />
                                5.3 Em situações extraordinárias, caso a Caixa Econômica Federal descontinue a modalidade de loteria escolhida pelo Usuário, o Loteria Brasil se	obriga a disponibilizar o crédito correspondente ao valor apostado para que o usuário possa participar de outras modalidades de loterias, até 30 (trinta) dias após	o evento. Preferindo o usuário a devolução da quantia paga, o valor	lhe será devolvido em forma de depósito ou crédito em conta corrente.<br /><br />
                                5.4 Em nenhuma outra situação os valores já desembolsados, seja a título de pagamento pelos Serviços, seja a título de antecipação (aquisição de créditos), serão devolvidos aos Usuários, salvo motivo extraordinário devidamente justificado, considerando o prazo mínimo de 24 (vinte e quatro) horas de antecedência a realização do sorteio pela Caixa Econômica Federal.<br /><br />
                                5.5 A Loteria Brasil poderá possibilitar aos Usuários a solicitação de efetivação de apostas em qualquer modalidade de jogo lotérico oficial que venha a ser lançada pela Caixa Econômica Federal.
                            </p>
                        </div>
                        <div class="panel-heading">6. REMUNERAÇÃO DOS SERVIÇOS</div>
                        <div class="panel-body">
                            <p>
                                6.1 Pela prestação dos serviços oferecidos aos Usuários, a Loteria Brasil, na qualidade de mandatária, perceberá uma remuneração fixa que consistirá na diferença entre o valor total pago pelo Usuário e o preço estipulado pela Caixa Econômica Federal para a efetivação da respectiva aposta.<br /><br />
                                6.1.1 Não se incluem na remuneração eventuais despesas com transferências bancárias, impostos ou outras porventura devidas em decorrência do pagamento de prêmio aos vencedores.<br /><br />
                                6.2 Em caso de contemplação, NADA será devido à Loteria Brasil a título de remuneração.<br /><br />
                                6.3 O Loteria Brasil também não cobra taxas de acesso, sendo	todo o conteúdo disponibilizado (dicas, informações, estatísticas, etc) acessado gratuitamente.<br /><br />
                            </p>
                        </div>
                        <div class="panel-heading">7. PAGAMENTO DOS PRÊMIOS</div>
                        <div class="panel-body">
                            <p>
                                7.1 Em caso de contemplação, o Loteria Brasil comunicará o Usuário vencedor, que poderá utilizar o valor dos prêmios para novas apostas ou solicitar o respectivo crédito em sua conta corrente.<br /><br />
                                7.1.1 A conta corrente utilizada para receber valores deverá ser de titularidade comprovada do Usuário que indicou a aposta contemplada, conforme cadastro realizado no Portal. Deve-se ressaltar que, como o Usuário deve necessariamente ser pessoa física, nenhum depósito será efetuado em conta bancária cujo titular não seja pessoa física.<br /><br />
                                7.1.2 Os prêmios serão recebidos pelos administradores e/ou procuradores da Loteria Brasil junto à Caixa Econômica Federal, procedendo-se, ato contínuo, na forma estipulada no item 7.1 acima.<br /><br />
                                7.2 Caso o usuário queira receber pessoalmente o prêmio e, assim, para que o recibo de pagamento seja confeccionado em seu nome, deverá comunicar a Loteria Brasil por escrito e em até 12 (doze) horas após a realização do sorteio. Neste caso o usuário será direcionado para uma agência da Caixa Econômica Federal na cidade de São Paulo, e deverá apresentar-se munido de documentos pessoais em um prazo máximo de 24 (vinte e quatro) horas.<br /><br />
                                7.3 Se os prazos aqui estabelecidos não forem respeitados pelo Usuário, fica a Loteria Brasil autorizada a receber o prêmio em seu nome, procedendo-se, ato contínuo, na forma estipulada no item 7.1 acima.
                            </p>
                        </div>
                        <div class="panel-heading">8. DO ACESSO AO APLICATIVO</div>
                        <div class="panel-body">
                            <p>
                                8.1 O Loteria Brasil concede ao Usuário uma licença revogável, onerosa, não-exclusiva e intransferível de uso do Aplicativo por ele desenvolvido, sendo certo que o Usuário não poderá utilizar e nem permitir a utilização do Aplicativo para qualquer outra finalidade não expressamente prevista nestes Termos.<br /><br />
                                8.2 Por meio do Aplicativo, o Usuário terá acesso ao seu cadastro, e poderá solicitar os Serviços descritos no item 2 supra.
                            </p>
                        </div>
                        <div class="panel-heading">9. DO ACESSO AOS SERVIÇOS</div>
                        <div class="panel-body">
                            <p>
                                9.1 O Loteria Brasil poderá, ao seu exclusivo critério, a qualquer tempo, e sem a necessidade de comunicação prévia ao Usuário:<br /><br />
                                9.1.1 Encerrar, modificar ou suspender, total ou parcialmente, o acesso do Usuário ao Aplicativo, ou mesmo ao Portal, quando referido acesso ou cadastro estiver em violação das condições estabelecidas nestes Termos.<br /><br />
                                9.1.2 Excluir, total ou parcialmente, as informações cadastradas pelo Usuário que não estejam em consonância com as disposições destes Termos.<br /><br />
                                9.2 A qualquer tempo, o Loteria Brasil poderá enviar ao Usuário mensagens de e-mail ou outras correspondências de caráter informativo, comercial e / ou promocional, salvo expressa solicitação em contrário. Caso o cliente não queira mais receber os e-mails, o processo é bem simples. Basta clicar em “remova aqui” – link existente no final de cada e-mail enviado pelo Loteria Brasil.<br /><br />
                            </p>
                        </div>
                        <div class="panel-heading">10. LIMITAÇÕES DE USO</div>
                        <div class="panel-body">
                            <p>
                                10.1 O Usuário não poderá:<br /><br />
                                a) Utilizar o Aplicativo para divulgar informações de qualquer forma que possa implicar em violação de normas aplicáveis no Brasil, de direitos do Loteria Brasil e / ou de terceiros quaisquer, nem poderá produzir ou divulgar conteúdo ilegal, imoral, inapropriado ou ofensivo;<br /><br />

                                b) Copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir, doar, alienar de qualquer forma, transferir total ou parcialmente, sob quaisquer modalidades, gratuita ou onerosamente, provisória ou permanentemente, o Aplicativo, assim como seus módulos, partes, manuais ou quaisquer informações relativas ao mesmo;<br /><br />

                                c) Empregar softwares, técnicas e / ou artifícios com o intuito de utilizar indevidamente o Aplicativo para práticas nocivas ao Loteria Brasil ou a terceiros;<br /><br />

                                d) Reproduzir, adaptar, modificar e / ou empregar, no todo ou em parte, para qualquer fim, o Aplicativo ou qualquer conteúdo do Portal sem a autorização expressa do Loteria Brasil;<br /><br />

                                e) Publicar ou transmitir qualquer arquivo que contenha vírus, worms, cavalos de troia ou qualquer outro programa contaminante ou destrutivo, ou que de outra forma possa interferir no bom funcionamento Aplicativo;<br /><br />

                                f) Realizar engenharia reversa.
                            </p>
                        </div>
                        <div class="panel-heading">11. LIMITAÇÃO DE RESPONSABILIDADE E INDENIZAÇÃO</div>
                        <div class="panel-body">
                            <p>
                                11.1 O Loteria Brasil não responderá, em nenhuma hipótese, nem mesmo em caráter solidário ou subsidiário:<br /><br />
                                a) Por eventuais prejuízos sofridos pelo Usuário em razão da tomada de decisões com base nas informações disponibilizadas no Portal ou Aplicativo;<br /><br />

                                b) Por eventuais prejuízos sofridos pelo Usuário em razão de falhas no sistema de informática, de telefonia ou nos servidores que independam de culpa do Loteria Brasil, ou em sua conectividade com a internet de modo geral, devendo o Usuário manter, às suas expensas, linha de telecomunicação, modem, software de comunicação, endereço de correio eletrônico e outros recursos necessários à comunicação com o Loteria Brasil;<br /><br />

                                c) Por eventuais prejuízos sofridos em virtude de fraudes praticadas por terceiros, devendo o Usuário manter, às suas expensas, softwares e medidas de proteção e prevenção contra vírus, worms, etc..<br /><br />

                                d) Por situações de caso fortuito ou força maior.<br /><br />

                                11.2 O Loteria Brasil não responderá, em nenhuma hipótese, nem mesmo em caráter solidário ou subsidiário:<br /><br />
                                11.3 O Loteria Brasil NÃO garante que as funções contidas no Aplicativo atendam a todas as necessidades dos Usuários, que a operação do Aplicativo será ininterrupta ou livre de erros, que qualquer funcionalidade continuará disponível, que os defeitos no Aplicativo serão corrigidos ou que o Aplicativo será compatível ou funcione com qualquer Aplicativo, aplicações ou serviços de terceiros.<br /><br />
                                11.4 O Usuário concorda em defender, indenizar e manter indene o Loteria Brasil e suas afiliadas, diretores, empregados e agentes, de e contra quaisquer encargos, ações ou demandas, incluindo, mas não limitado a honorários advocatícios razoáveis, resultantes: (i) da sua eventual utilização indevida do Portal e do Aplicativo, ou (ii) da sua violação das condições ora pactuadas.<br /><br />
                                11.5 Em nenhum caso o Loteria Brasil será responsável por danos pessoais ou qualquer prejuízo incidental, especial, indireto ou consequente, lucros cessantes, incluindo, sem limitação, prejuízos por perda de lucro, corrupção ou perda de dados, falha de transmissão ou recepção de dados, perda de chance, não continuidade do negócio ou qualquer outro prejuízo ou perda comercial, decorrentes ou relacionados ao seu uso ou sua inabilidade em usar o Aplicativo, por qualquer outro motivo.<br /><br />
                                11.6 Na eventualidade do Loteria Brasil ser compelido, por decisão judicial transitada em julgado, a indenizar ou ressarcir o Usuário por danos sofridos, apesar do disposto no item 11.2 acima, o valor devido ao Usuário estará limitado a 20% (vinte por cento) da totalidade das quantias efetivamente pagas pelo Usuário ao Loteria Brasil.
                            </p>
                        </div>
                        <div class="panel-heading">12. VIGÊNCIA</div>
                        <div class="panel-body">
                            <p>
                                12.1 Estes Termos vigerão por prazo indeterminado, a partir do aceite do Usuário, podendo ser modificados ou rescindidos unilateralmente pelo Loteria Brasil a qualquer tempo, sem qualquer ônus, mediante simples comunicação por meio do próprio Portal ou de mensagem para o e-mail indicado no cadastro pessoal do Usuário.<br /><br />
                                12.2 O Loteria Brasil não responderá, em nenhuma hipótese, nem mesmo em caráter solidário ou subsidiário:<br /><br />
                                12.3 O Loteria Brasil não responderá, em nenhuma hipótese, nem mesmo em caráter solidário ou subsidiário:
                            </p>
                        </div>
                        <div class="panel-heading">13. REGRAS GERAIS, LEGISLAÇÃO APLICÁVEL E ELEIÇÃO DE FORO</div>
                        <div class="panel-body">
                            <p>
                                13.1 Ao utilizar os Serviços, o Usuário se compromete a agir com responsabilidade e comedimento, bem como a respeitar a lei, a moral e os bons costumes.<br /><br />
                                13.2 As disposições aqui previstas e quaisquer outras políticas divulgadas pelo Loteria Brasil constituem as normas que regem especificamente a relação entre o Usuário e o Loteria Brasil, superando e revogando todos e quaisquer entendimentos, propostas, acordos, negociações e discussões eventualmente havidos anteriormente entre as partes, de sorte que se presume a plena ciência e a concordância irrevogável e irretratável do Usuário.<br /><br />
                                13.3 A relação entre o Usuário e o Loteria Brasil é pautada no estabelecimento de um contrato de mandato e, além das presentes disposições, é regida também pelas leis da República Federativa do Brasil, especialmente pelos artigos 653 e seguintes do Código Civil Brasileiro (Lei nº 10.406/2002).<br /><br />
                                13.4 A incapacidade ou a impossibilidade de o Loteria Brasil exercer ou fazer cumprir qualquer direito ou disposição ora prevista não representa renúncia desse direito ou disposição.<br /><br />
                                13.5 A declaração de nulidade ou inaplicabilidade de que qualquer item, termo ou disposição ora previsto não implicará a nulidade ou inaplicabilidade de quaisquer outros itens, termos ou disposições aqui contidos, os quais permanecerão em pleno vigor e cujos efeitos não serão atingidos.<br /><br />
                                13.6 O Usuário não adquire nenhum direito de propriedade intelectual sobre ou de alguma forma relacionada ao Portal, ao Aplicativo ou a qualquer funcionalidade ou componente que venha a ser disponibilizado pelo Loteria Brasil. 8.6.1. Em nenhuma hipótese, o Usuário terá acesso ao código fonte do Aplicativo, por se tratar de propriedade intelectual do Loteria Brasil.<br /><br />
                                13.7 Todo e qualquer conteúdo disponibilizado pelo Loteria Brasil, no Portal ou no Aplicativo, incluindo, mas não se limitando a textos, gráficos, imagens, logos, ícones, fotografias, conteúdo editorial, notificações, softwares e qualquer outro material, pertencem exclusivamente ao Loteria Brasil, e são protegidos pela lei brasileira no que se refere a propriedade intelectual e aos direitos autorais.<br /><br />
                                13.8 O Loteria Brasil ESCLARECE QUE NÃO POSSUI QUALQUER VINCULAÇÃO COM A CAIXA ECONÔMICA FEDERAL, QUE É TERCEIRA TOTALMENTE ESTRANHA À RELAÇÃO CONTRATUAL PRIVADA MANTIDA COM O USUÁRIO.<br /><br />
                                13.9 As partes elegem o Foro da Comarca da Capital do Estado de residência do Usuário como sendo o único competente para dirimir quaisquer litígios e / ou demandas que venham a envolver as Partes em relação ao uso dos Serviços e acesso ao Portal.<br /><br />
                                13.10 O Usuário declara ter ciência dos direitos e obrigações decorrentes dos presentes Termos, tendo lido, compreendido e aceito todos os termos e condições.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>