
<section id="boletim">
    <div class="container-fluid container-boletim">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="title">boletim diário</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p class="desc">Cadastre-se e receba nossos boletins diários com resultados, data de sorteios, avisos e promoções!</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <form class="" action="" method="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Informe seu e-mail">
                            <button type="submit" class="btn btn-success pull-right">cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
