
<section id="premiacao" data-vue="Premios">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    prêmios entregues aos nossos apostadores
                </h4>
                <p class="center-text">O maior valor em prêmios já entregues da internet brasileira!</p>
                <div class="row">
                    <div class="col-md-12 premiacao-container1">
                        <p class="center-text">{{ title }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 premiacao-container premiacao-container2">
                        <div class="premiacao-container_interno">
                            <p>nos últimos 30 dias</p>
                            <span>{{ mes }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 premiacao-container premiacao-container3">
                        <div class="premiacao-container_interno">
                            <p>nos últimos 12 meses</p>
                            <span>{{ ano }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 premiacao-container premiacao-container4">
                        <div class="premiacao-container_interno">
                            <p>pagos até o momento</p>
                            <span>{{ total }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>