<section class="hero-whybet bg-third hidden" v-bind:class="loteria.class">
    <div class="container">
        <div class="icon"></div>
        <div class="text">
            <div class="title">Porque apostar em <span class="color">bolões</span></span>?</div>
            <p>
                É Rápido, Fácil e Seguro
            </p>
        </div>

        <a href="#" class="monitor">Monitor</a>
    </div>
</section><!-- /.hero-whybet -->