<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>opções para fazer sua aposta</h4>
            <p class="instrucoes text-center">
                Você pode apostar on-line com seus placares na Lotogol, como se estivesse em uma casa
                lotérica. Escolha seus placares e boa sorte! Atenção: O horário limite para apostar
                com seus placares no dia da partida de futebol é as 9h (horário de Brasília).
            </p>
            <div class="row">
                <h5>escolha seus placares</h5>
            </div>
        </div>
    </div>
    <div class="row container-table_loteca_lotogol hidden">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-responsive table-lotogol">
                <tr>
                    <td class="lotogol-coluna1">
                        <p>1-</p>
                    </td>
                    <td class="lotogol-coluna2">
                        <p>
                            <span>Bayerndemunique/DEU</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>x</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                    <td class="lotogol-coluna3">
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li class="active">
                                <div class="">1</div>
                            </li>
                            <li>
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                        <span class="hidden-xs hidden-sm">x</span>
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li>
                                <div class="">1</div>
                            </li>
                            <li class="active">
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <p>
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="lotogol-coluna1">
                        <p>2-</p>
                    </td>
                    <td class="lotogol-coluna2">
                        <p>
                            <span>Bayerndemunique/DEU</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>x</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                    <td class="lotogol-coluna3">
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li class="active">
                                <div class="">1</div>
                            </li>
                            <li>
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                        <span class="hidden-xs hidden-sm">x</span>
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li>
                                <div class="">1</div>
                            </li>
                            <li class="active">
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <p>
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="lotogol-coluna1">
                        <p>3-</p>
                    </td>
                    <td class="lotogol-coluna2">
                        <p>
                            <span>Bayerndemunique/DEU</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>x</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                    <td class="lotogol-coluna3">
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li class="active">
                                <div class="">1</div>
                            </li>
                            <li>
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                        <span class="hidden-xs hidden-sm">x</span>
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li>
                                <div class="">1</div>
                            </li>
                            <li class="active">
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <p>
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="lotogol-coluna1">
                        <p>4-</p>
                    </td>
                    <td class="lotogol-coluna2">
                        <p>
                            <span>Bayerndemunique/DEU</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>x</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                    <td class="lotogol-coluna3">
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li class="active">
                                <div class="">1</div>
                            </li>
                            <li>
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                        <span class="hidden-xs hidden-sm">x</span>
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li>
                                <div class="">1</div>
                            </li>
                            <li class="active">
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <p>
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="lotogol-coluna1">
                        <p>5-</p>
                    </td>
                    <td class="lotogol-coluna2">
                        <p>
                            <span>Bayerndemunique/DEU</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>x</span>
                        </p>
                        <p class="hidden-md hidden-lg">
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                    <td class="lotogol-coluna3">
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li class="active">
                                <div class="">1</div>
                            </li>
                            <li>
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                        <span class="hidden-xs hidden-sm">x</span>
                        <ul>
                            <li>
                                <div class="">0</div>
                            </li>
                            <li>
                                <div class="">1</div>
                            </li>
                            <li class="active">
                                <div class="">2</div>
                            </li>
                            <li>
                                <div class="">3</div>
                            </li>
                            <li>
                                <div class="">+</div>
                            </li>
                        </ul>
                    </td>
                    <td class="hidden-xs hidden-sm">
                        <p>
                            <span>Realmadrid/ESP</span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row container-table_loteca_lotogol hidden">
        <div class="col-md-6 col-md-offset-3">
            <p class="selecione_aposta_p">Selecione todos os palpites para completar a aposta</p>
            <div class="col-md-4 col-md-offset-1">
                <button type="button" class="btn btn_limpar-aposta">
                    limpar
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn_incluir-aposta">
                    incluir aposta
                </button>
            </div>
        </div>
    </div>
    <div class="row hidden">
        <div class="col-md-12">
            <div class="container-outras_apostas">
                <div class="block block-gameresume-loteca block-gameresume has-items is-affix-mobile">

                    <header class="block-header">
                        <div class="col-sm-12 col-md-12 container-total_aposta"><span class="qtde_aposta"> Simples - 01 Aposta </span> <b class="valor_aposta color">R$ 3,00</b> <i class="delete-game fas fa-trash-alt"></i></div>

                    </header>
                    <div class="block-content">
                        <div class="list">
                            <div class="scroller mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                                <div id="mCSB_1" class="mCustomScrollBox mCS-rounded-dark mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                    <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                        <div class="list-content list-content-loteca">
                                            <div class="list-item animated" data-concurso="797" data-loteria="6" data-val="3" data-cartao="1">
                                                <div class="column col-md-8">
                                                    <ul class="result-lotogol" data-dezenas="43222222212442">
                                                        <li data-markvalue="4">
                                                            <div>1</div>
                                                            <div class="marks">
                                                                <span>0</span>
                                                                <span>1</span>
                                                            </div>
                                                        </li>
                                                        <li data-markvalue="3">
                                                            <div>2</div>
                                                            <div class="marks">
                                                                <span>0</span>
                                                                <span>1</span>
                                                            </div>
                                                        </li>
                                                        <li data-markvalue="2">
                                                            <div>3</div>
                                                            <div class="marks">
                                                                <span>0</span>
                                                                <span>1</span>
                                                            </div>
                                                        </li>
                                                        <li data-markvalue="2">
                                                            <div>4</div>
                                                            <div class="marks">
                                                                <span>0</span>
                                                                <span>1</span>
                                                            </div>
                                                        </li>
                                                        <li data-markvalue="2">
                                                            <div>5</div>
                                                            <div class="marks">
                                                                <span>0</span>
                                                                <span>1</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="column col-md-2 text-center">   
                                                </div>
                                                <div class="column col-md-2">
                                                    <span class="total_aposta pull-right color">R$ 3,00</span>
                                                </div>
                                                <div class="col-md-12"><button type="button" class="btn btn-success btn_finalizar-compra pull-right">finalizar compra</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-rounded-dark mCSB_scrollTools_vertical" style="display: none;">
                                        <div class="mCSB_draggerContainer">
                                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 49px; top: 0px;">
                                                <div class="mCSB_dragger_bar"></div>
                                            </div>
                                            <div class="mCSB_draggerRail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>