<section id="slider_comoapostar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <font color="#2e2e2e">o</font> loteria brasil é
                    <font color="#2e2e2e">100% seguro</font>
                    <br />são 5 passos
                </h3>
                <div class="owl-carousel owl-carousel-comoapostar owl-theme owl-loaded owl-drag">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="item">
                            <img src="/images/main/comoapostar_passo@(i).png" class="center-block">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
